<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formsetPassword"></span>
        <!-- form card setPassword -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Set Password</h3>
          </div>
          <div class="card-body">
            <form novalidate class="form" [formGroup]="form" (ngSubmit)="onSetPassword()">
              <div class="form-group" [class.has-error] = "form.get('aadhar').invalid && form.get('aadhar').touched">
                <label for="aadhar" class="control-label">
                  Aadhar Number
                </label>
                <input type = "text" placeholder = "xxxx yyyy zzzz" formControlName = "aadhar" class = "form-control rounded-0">
                <span class = "help-block" *ngIf=" form.get('aadhar').touched &&form.get('aadhar').hasError('required')">
                  Aadhar Number is required!
                </span>
                <span class = "help-block" *ngIf="form.get('aadhar').hasError('pattern')">
                  Invalid Aadhar Number!
                </span>
              </div>
              <div class="form-group" [class.has-error] = "form.get('password').invalid && form.get('password').touched">
                <label for="password" class = "control-label">Password</label>
                <input name="password" type="password" formControlName="password" class="form-control rounded-0">
                <span class = "help-block" *ngIf=" form.get('password').touched &&form.get('password').hasError('required')">
                  Password is required!
                </span>
              </div>
              <div class="form-group" [class.has-error] = "form.get('confirmPassword').invalid && form.get('confirmPassword').touched">
                <label for="confirmPassword" class = "control-label">Confirm Password</label>
                <input name="confirmPassword" type="password"formControlName="confirmPassword" class="form-control rounded-0" appConfirmEqualValidator="password">
                <span class = "help-block" *ngIf=" form.get('confirmPassword').touched &&form.get('confirmPassword').hasError('required')">
                  Confirm Password is required!
                </span>
                <span class = "help-block" *ngIf=" form.get('confirmPassword').touched && form.get('confirmPassword').hasError('notEqual')">
                    Password and Confirm Password doesnot match!!
                  </span>
              </div>
              <button type="submit" class="btn btn-primary float-right" [disabled]="form.invalid">Set Password</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card -->
      </div>
    </div>
  </div>
  